{layout '../layouts/main.latte'}

{block content}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow border-0 rounded-3 mt-5">
                    <div class="card-header bg-primary text-white text-center py-3">
                        <h1 class="h4 mb-0">Vérification de sécurité</h1>
                    </div>
                    <div class="card-body p-4">
                        <div id="verify-form-wrapper">
                            {if $method->method == 'mail'}
                                {include '../fragments/verify/mailMfa.latte', successMessage => $successMessage ?? null}
                            {elseif $method->method == 'sms'}
                                {include '../fragments/verify/smsMfa.latte', successMessage => $successMessage ?? null}
                            {elseif $method->method == 'authenticator'}
                                {include '../fragments/verify/authenticatorMfa.latte', successMessage => $successMessage ?? null}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
