{var $form = Controllers\src\Utils\SessionHelper::getForm('password_add')}
{var $context = 'password_add'}

<form method="post"
      action="/addpassword"
      hx-post="/addpassword"
      hx-trigger="change"
      hx-target="#password-add-form-wrapper"
      hx-swap="morphdom"
      hx-preserve="true"
      novalidate>
    {$csrf_keep_alive|noescape}

    {include '../../components/formField.latte',
    name => 'description',
    label => 'Description',
    icon => 'file-text',
    form => $form,
    context => $context
    }

    {include '../../components/formField.latte',
    name => 'note',
    label => 'Note',
    icon => 'sticky',
    form => $form,
    context => $context
    }

    {include '../../components/formField.latte',
    name => 'password',
    label => 'Password',
    icon => 'shield-lock',
    form => $form,
    type => 'password',
    context => $context
    }

    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="bi bi-plus-circle me-2"></i> Add
        </button>
    </div>
</form>
