<div class="modal fade" id="editPasswordModal-{$password->id}" tabindex="-1"
     aria-labelledby="editPasswordModalLabel-{$password->id}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="password-form-wrapper-{$password->id}">
                {include 'passwordUpdateForm.latte', password => $password, form => $form}
            </div>
        </div>
    </div>
</div>
