<form method="post" action="/passwords">
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe maître</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Déverrouiller</button>
</form>
