<div class="modal fade" id="sharePasswordModal-{$password->id}" tabindex="-1"
     aria-labelledby="sharePasswordModalLabel-{$password->id}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="share-form-wrapper-{$password->id}">
                {include 'passwordShareForm.latte', password => $password, form => $form}
            </div>
        </div>
    </div>
</div>
