{varType string $methodType}


  <form method="post"
        hx-post="/verify/activate"
        hx-target="#mfa-setup-modal-content"
        hx-swap="innerHTML"
        hx-vals='{"method": "{$methodType}"}'
        data-bs-toggle="modal"
        data-bs-target="#mfa-setup-modal">

        {$csrf_keep_alive|noescape}

    <input type="hidden" name="method" value="{$methodType}">
    <button type="submit" class="btn btn-sm btn-primary">
        <i class="bi bi-shield-plus me-1"></i> Activer
    </button>
</form>
