{varType array $mfa}
{varType int $mfa_expiration}
{varType int $mfa_grace_period_days}


<div>
    <div class="card-body">
        {if count($mfa) == 0}
            {include '../../components/alert/messageAlert.latte',
            message => 'Aucune méthode d’authentification activée.',
            type => 'danger'}
        {/if}

        <div class="list-group list-group-flush">
            {foreach ['mail', 'sms', 'authenticator'] as $methodType}
                {var $method = null}
                {foreach $mfa as $m}
                    {if $m->method === $methodType}
                        {var $method = $m}
                        {breakIf true}
                    {/if}
                {/foreach}

                {include '../../fragments/profile/mfaMethodRow.latte',
                method => $method,
                methodType => $methodType,
                mfa_expiration => $mfa_expiration,
                mfa_grace_period_days => $mfa_grace_period_days
                }
            {/foreach}
        </div>
    </div>
</div>

{include '../../fragments/verify/qrCodeModal.latte'}
