<div class="mb-4">
    {include '../../components/alert/messageAlert.latte',
    message => "For Security Mesure, You Can't Reset The Master Password.",
    type => 'warning'
    }
</div>

<div id="password-form-wrapper">
    {include '../../fragments/profile/updatePasswordForm.latte'}
</div>
