<div class="mb-4">
    {include '../../components/alert/messageAlert.latte',
    message => "Par mesure de sécurité, il n’est pas possible de réinitialiser votre mot de passe.",
    type => 'warning'
    }
</div>

<div id="password-form-wrapper">
    {include '../../fragments/profile/updatePasswordForm.latte'}
</div>
