{var $form = Controllers\src\Utils\SessionHelper::getForm('user_password')}

<div id="password-form-wrapper">
    <form method="post"
          action="/user/password"
          hx-post="/user/password"
          hx-trigger="change"
          hx-target="#password-form-wrapper"
          hx-swap="morphdom"
          hx-preserve="true"
          novalidate>
        {$csrf_keep_alive|noescape}

        {include '../../components/formField.latte', name => 'old', label => 'Current Password', icon => 'lock', type => 'password', form => $form}
        {include '../../components/formField.latte', name => 'new', label => 'New Password', icon => 'shield-lock', type => 'password', form => $form}

        <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="bi bi-arrow-repeat me-2"></i>Change Password
            </button>
        </div>
    </form>
</div>
