{var $form = Controllers\src\Utils\SessionHelper::getForm('user_update')}
{var $context = "user_update"}

<div id="profile-form-wrapper">
    <form method="post"
          action="/user/update"
          hx-post="/user/update"
          hx-trigger="change"
          hx-target="#profile-form-wrapper"
          hx-swap="morphdom"
          hx-preserve="true"
          novalidate>
        {$csrf_keep_alive|noescape}

       {include '../../components/formField.latte',
        name  => 'first_name',
        label => 'Firstname',
        icon  => 'person',
        form  => $form,
        value => $form->getValue('first_name') ?? (isset($user) ? $user->first_name : ''),
        context => $context
        }

        {include '../../components/formField.latte',
        name  => 'last_name',
        label => 'Lastname',
        icon  => 'person-badge',
        form  => $form,
        value => $form->getValue('last_name') ?? (isset($user) ? $user->last_name : ''),
        context => $context
        }

        {include '../../components/formField.latte',
        name  => 'email',
        label => 'Email',
        icon  => 'envelope',
        form  => $form,
        value => $form->getValue('email') ?? (isset($user) ? $user->email : ''),
        context => $context
        }

        {include '../../components/formField.latte',
        name  => 'phone',
        label => 'Phone',
        icon  => 'telephone',
        form  => $form,
        value => $form->getValue('phone') ?? (isset($user) ? $user->phone : ''),
        context => $context
        }

        <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="bi bi-save me-2"></i> Save
            </button>
        </div>
    </form>
</div>