{layout '../layouts/main.latte'}

{block content}
    <div class="text-center my-5">
        <h1 class="display-4 fw-bold">Bienvenue sur KryptLok</h1>
        <p class="lead mt-3">Bonjour <strong>{$user->first_name}</strong> 👋</p>
        <p>Votre identifiant : <code>{$user->id}</code></p>
    </div>
{/block}
