{var $passwordsTab = $_GET['tab'] ?? 'list'}

<div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-white">
        <h5 class="mb-0">Passwords Manager</h5>
    </div>

    <div class="card-body">
        <div class="d-md-none mb-3">
            <select class="form-select" id="password-tab-selector">
                <option value="?section=passwords&tab=list" {$passwordsTab == 'list' ? 'selected' : ''}>
                    List
                </option>
                <option value="?section=passwords&tab=add" {$passwordsTab == 'add' ? 'selected' : ''}>
                    Add
                </option>
            </select>
        </div>

        <ul class="nav nav-tabs d-none d-md-flex mb-4 flex-wrap">
            <li class="nav-item">
                <a class="nav-link {$passwordsTab == 'list' ? 'active' : ''}" href="?section=passwords&tab=list">
                    List
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {$passwordsTab == 'add' ? 'active' : ''}" href="?section=passwords&tab=add">
                    Add
                </a>
            </li>
        </ul>

        {if $passwordsTab == 'list'}
            {include '../passwords/managePasswords.latte', passwords => $passwords}
        {elseif $passwordsTab == 'add'}
            {include '../passwords/addPassword.latte', form => $form}
        {/if}
    </div>
</div>

<div id="password-edit-modal"></div>
